form {
  margin: auto;
  width: 90%; 
  max-width: 800px; 
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;
  padding: 2rem;
  
}

form div {
  margin-bottom: 10 px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

form input[type="checkbox"] {
  margin-right: 10px;
}

form button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  
}

form button:hover {
  background-color: #45a049;
}

.confirmation-message {
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }

  form input[type="text"],
  form input[type="tel"],
  form input[type="email"] {
    padding: 6px;
  }

  form button {
    padding: 8px 12px;
  }
}
